{# Loop through cards #}
    <ul role="list" class="divide-y md:divide-y-0 divide-gray-100 grid md:grid-cols-2 gap-x-24">
      <li class="relative flex justify-between gap-x-6 py-5">
        <img class="h-24 w-24 flex-none rounded-full bg-gray-50 object-cover" src="./static/img/boysko.jpeg" alt="">
        <div class="flex min-w-0 gap-x-4 grow">
          <div class="min-w-0 flex-auto">
            <p class="text-base font-semibold leading-6 text-gray-900">
              <a href={{ bodySection.cards.url }} class="text-blue-700 underline hover:text-blue-500">
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                {{ bodySection.cards.title }}
              </a>
            </p>
            <p class="mt-1 flex text-sm leading-5 text-gray-500">
              Currently represents State Senate District 38
            </p>
          </div>
        </div>
    <div class="flex shrink-0 items-center gap-x-4">
      <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
      </li>

      {# Add schema input for card image #}