<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ bodySection.timeline.sectionTitle }}</h1>
    <div class="mt-10 max-w-2xl">
        {{ bodySection.timeline.sectionContent }}
    </div>
        <div class="mt-10 flex items-center gap-x-6">
          <a href={{ bodySection.timeline.sectionButtons.primaryButton.url }} class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ bodySection.timeline.sectionButtons.primaryButton.text }}</a>
          <a href={{ bodySection.timeline.sectionButtons.secondaryButton.url }} class="text-sm font-semibold leading-6 text-gray-900">{{ bodySection.timeline.sectionButtons.secondaryButton.text }} <span aria-hidden="true">→</span></a>
        </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4">
        {# Loop through dates here #}
    </div>
  </div>
</div>
